@{
    var effectiveController = (ViewData["EffectiveController"]?.ToString() ?? "").ToLowerInvariant();
    var controllerLabel = ViewData["ControllerLabel"]?.ToString() ?? "";
}

<div class="tree">
    <a href="@Url.Action("Index", "Home")" id="banner_tree_first">
        <i class="fa fa-home"></i> @Loc.T("Common.Home")
    </a>
    <span>&ensp;&gt;&ensp;</span>

    <span class="tree_page">@controllerLabel</span>
</div>