@{
    Layout = "_AssetLayout";
}

<div class="main-font">
    @Loc.T("Home.Welcome.Title")
</div>

<div class="sub-font">
    @Loc.T("Home.Welcome.SubTitle")
</div>

<svg class="main-bk"></svg>

@using System.Globalization
<div class="alert alert-info">
    CurrentCulture: @CultureInfo.CurrentCulture.Name<br />
    CurrentUICulture: @CultureInfo.CurrentUICulture.Name
</div>
