/* _content/BioMedDocManager/Views/Shared/_DocumentClaimConfidentialSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vmyo9bnf1i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vmyo9bnf1i] {
  color: #0077cc;
}

.btn-primary[b-vmyo9bnf1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vmyo9bnf1i], .nav-pills .show > .nav-link[b-vmyo9bnf1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vmyo9bnf1i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vmyo9bnf1i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vmyo9bnf1i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vmyo9bnf1i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vmyo9bnf1i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_DocumentClaimSensitiveSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-72dahyxb97] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-72dahyxb97] {
  color: #0077cc;
}

.btn-primary[b-72dahyxb97] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-72dahyxb97], .nav-pills .show > .nav-link[b-72dahyxb97] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-72dahyxb97] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-72dahyxb97] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-72dahyxb97] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-72dahyxb97] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-72dahyxb97] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_DocUserSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-chbj0f0s7t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-chbj0f0s7t] {
  color: #0077cc;
}

.btn-primary[b-chbj0f0s7t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-chbj0f0s7t], .nav-pills .show > .nav-link[b-chbj0f0s7t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-chbj0f0s7t] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-chbj0f0s7t] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-chbj0f0s7t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-chbj0f0s7t] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-chbj0f0s7t] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_Footer.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1tnl8c8rew] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1tnl8c8rew] {
  color: #0077cc;
}

.btn-primary[b-1tnl8c8rew] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1tnl8c8rew], .nav-pills .show > .nav-link[b-1tnl8c8rew] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1tnl8c8rew] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1tnl8c8rew] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1tnl8c8rew] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1tnl8c8rew] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1tnl8c8rew] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_NoNavLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iwlkz4l49i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iwlkz4l49i] {
  color: #0077cc;
}

.btn-primary[b-iwlkz4l49i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iwlkz4l49i], .nav-pills .show > .nav-link[b-iwlkz4l49i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iwlkz4l49i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iwlkz4l49i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iwlkz4l49i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iwlkz4l49i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iwlkz4l49i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_NoNavWithDetailModalLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xnt3o6mbze] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xnt3o6mbze] {
  color: #0077cc;
}

.btn-primary[b-xnt3o6mbze] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xnt3o6mbze], .nav-pills .show > .nav-link[b-xnt3o6mbze] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xnt3o6mbze] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xnt3o6mbze] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xnt3o6mbze] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xnt3o6mbze] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xnt3o6mbze] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseAssessmentDetail.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ozgk6k1b1j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ozgk6k1b1j] {
  color: #0077cc;
}

.btn-primary[b-ozgk6k1b1j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ozgk6k1b1j], .nav-pills .show > .nav-link[b-ozgk6k1b1j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ozgk6k1b1j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ozgk6k1b1j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ozgk6k1b1j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ozgk6k1b1j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ozgk6k1b1j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseAssessPersonSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ekm40en2op] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ekm40en2op] {
  color: #0077cc;
}

.btn-primary[b-ekm40en2op] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ekm40en2op], .nav-pills .show > .nav-link[b-ekm40en2op] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ekm40en2op] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ekm40en2op] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ekm40en2op] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ekm40en2op] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ekm40en2op] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseDetail.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-rf40wod5rf] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-rf40wod5rf] {
  color: #0077cc;
}

.btn-primary[b-rf40wod5rf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-rf40wod5rf], .nav-pills .show > .nav-link[b-rf40wod5rf] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-rf40wod5rf] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-rf40wod5rf] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-rf40wod5rf] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-rf40wod5rf] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-rf40wod5rf] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseProductClassSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kibnbb1z23] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kibnbb1z23] {
  color: #0077cc;
}

.btn-primary[b-kibnbb1z23] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kibnbb1z23], .nav-pills .show > .nav-link[b-kibnbb1z23] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kibnbb1z23] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kibnbb1z23] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kibnbb1z23] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kibnbb1z23] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kibnbb1z23] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchasePurchaserSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4eky4tx7sg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4eky4tx7sg] {
  color: #0077cc;
}

.btn-primary[b-4eky4tx7sg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4eky4tx7sg], .nav-pills .show > .nav-link[b-4eky4tx7sg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4eky4tx7sg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4eky4tx7sg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4eky4tx7sg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4eky4tx7sg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4eky4tx7sg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseQualifiedSuppliersDetail.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vynx8rg6kt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vynx8rg6kt] {
  color: #0077cc;
}

.btn-primary[b-vynx8rg6kt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vynx8rg6kt], .nav-pills .show > .nav-link[b-vynx8rg6kt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vynx8rg6kt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vynx8rg6kt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vynx8rg6kt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vynx8rg6kt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vynx8rg6kt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseReceivePersonSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qdq2zocyxm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qdq2zocyxm] {
  color: #0077cc;
}

.btn-primary[b-qdq2zocyxm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qdq2zocyxm], .nav-pills .show > .nav-link[b-qdq2zocyxm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qdq2zocyxm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qdq2zocyxm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qdq2zocyxm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qdq2zocyxm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qdq2zocyxm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseRequesterSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-x6pw3jephg] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-x6pw3jephg] {
  color: #0077cc;
}

.btn-primary[b-x6pw3jephg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-x6pw3jephg], .nav-pills .show > .nav-link[b-x6pw3jephg] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-x6pw3jephg] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-x6pw3jephg] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-x6pw3jephg] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-x6pw3jephg] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-x6pw3jephg] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseSupplier1stAssessDetail.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-74t9e0uqg7] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-74t9e0uqg7] {
  color: #0077cc;
}

.btn-primary[b-74t9e0uqg7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-74t9e0uqg7], .nav-pills .show > .nav-link[b-74t9e0uqg7] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-74t9e0uqg7] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-74t9e0uqg7] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-74t9e0uqg7] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-74t9e0uqg7] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-74t9e0uqg7] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseSupplierAssessDetail.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iurrtch6m1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iurrtch6m1] {
  color: #0077cc;
}

.btn-primary[b-iurrtch6m1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iurrtch6m1], .nav-pills .show > .nav-link[b-iurrtch6m1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iurrtch6m1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iurrtch6m1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iurrtch6m1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iurrtch6m1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iurrtch6m1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseSupplierClassSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-uongg3a623] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-uongg3a623] {
  color: #0077cc;
}

.btn-primary[b-uongg3a623] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-uongg3a623], .nav-pills .show > .nav-link[b-uongg3a623] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-uongg3a623] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-uongg3a623] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-uongg3a623] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-uongg3a623] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-uongg3a623] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseSupplierNameDataListSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xf0q2ywrxj] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xf0q2ywrxj] {
  color: #0077cc;
}

.btn-primary[b-xf0q2ywrxj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xf0q2ywrxj], .nav-pills .show > .nav-link[b-xf0q2ywrxj] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xf0q2ywrxj] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xf0q2ywrxj] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xf0q2ywrxj] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xf0q2ywrxj] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xf0q2ywrxj] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseSupplierNameSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dx8epu4dn8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dx8epu4dn8] {
  color: #0077cc;
}

.btn-primary[b-dx8epu4dn8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dx8epu4dn8], .nav-pills .show > .nav-link[b-dx8epu4dn8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dx8epu4dn8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dx8epu4dn8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dx8epu4dn8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dx8epu4dn8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dx8epu4dn8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_PurchaseVerifyPersonSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-hs2l6nhbqo] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-hs2l6nhbqo] {
  color: #0077cc;
}

.btn-primary[b-hs2l6nhbqo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-hs2l6nhbqo], .nav-pills .show > .nav-link[b-hs2l6nhbqo] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-hs2l6nhbqo] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-hs2l6nhbqo] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-hs2l6nhbqo] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-hs2l6nhbqo] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-hs2l6nhbqo] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
