@model BioMedDocManager.Models.Parameter

@{
    ViewData["Title"] = "系統參數管理-新增";
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2">
        <i class="bi bi-plus-square me-2"></i>@ViewData["Title"]
    </h4>

    <form asp-action="Create" method="post" id="myForm" target="_top">
        @Html.AntiForgeryToken()

        <div class="pop">

            <div class="row align-items-center my-3">
                <label asp-for="ParameterCode" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ParameterCode" class="form-control" placeholder="例如：PWD_MIN_LENGTH" />
                    <span asp-validation-for="ParameterCode" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ParameterName" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ParameterName" class="form-control" placeholder="例如：密碼最少長度" />
                    <span asp-validation-for="ParameterName" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ParameterFormat" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ParameterFormat" class="form-control" placeholder="text / int / html / json" />
                    <span asp-validation-for="ParameterFormat" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-start my-3">
                <label asp-for="ParameterValue" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <textarea asp-for="ParameterValue" class="form-control" rows="6" placeholder="可輸入文字/ 數字 / HTML / JSON"></textarea>
                    <span asp-validation-for="ParameterValue" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ParameterIsActive" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <div class="form-check">
                        <input asp-for="ParameterIsActive" class="form-check-input" />
                        <label class="form-check-label" asp-for="ParameterIsActive"></label>
                    </div>
                    <span asp-validation-for="ParameterIsActive" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                </div>
            </div>

        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">
    </script>
}
