/* _content/BioMedDocManager/Views/Shared/_DepartmentSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ydq6sfzm98] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ydq6sfzm98] {
  color: #0077cc;
}

.btn-primary[b-ydq6sfzm98] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ydq6sfzm98], .nav-pills .show > .nav-link[b-ydq6sfzm98] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ydq6sfzm98] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ydq6sfzm98] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ydq6sfzm98] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ydq6sfzm98] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ydq6sfzm98] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_DocumentClaimConfidentialSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-vmyo9bnf1i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-vmyo9bnf1i] {
  color: #0077cc;
}

.btn-primary[b-vmyo9bnf1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-vmyo9bnf1i], .nav-pills .show > .nav-link[b-vmyo9bnf1i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-vmyo9bnf1i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-vmyo9bnf1i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-vmyo9bnf1i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-vmyo9bnf1i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-vmyo9bnf1i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_DocumentClaimSensitiveSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-72dahyxb97] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-72dahyxb97] {
  color: #0077cc;
}

.btn-primary[b-72dahyxb97] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-72dahyxb97], .nav-pills .show > .nav-link[b-72dahyxb97] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-72dahyxb97] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-72dahyxb97] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-72dahyxb97] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-72dahyxb97] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-72dahyxb97] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_DocUserSelect.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-chbj0f0s7t] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-chbj0f0s7t] {
  color: #0077cc;
}

.btn-primary[b-chbj0f0s7t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-chbj0f0s7t], .nav-pills .show > .nav-link[b-chbj0f0s7t] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-chbj0f0s7t] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-chbj0f0s7t] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-chbj0f0s7t] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-chbj0f0s7t] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-chbj0f0s7t] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_Footer.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-1tnl8c8rew] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-1tnl8c8rew] {
  color: #0077cc;
}

.btn-primary[b-1tnl8c8rew] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-1tnl8c8rew], .nav-pills .show > .nav-link[b-1tnl8c8rew] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1tnl8c8rew] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1tnl8c8rew] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1tnl8c8rew] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1tnl8c8rew] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1tnl8c8rew] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_Language.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9pwkqy41xm] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9pwkqy41xm] {
  color: #0077cc;
}

.btn-primary[b-9pwkqy41xm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9pwkqy41xm], .nav-pills .show > .nav-link[b-9pwkqy41xm] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9pwkqy41xm] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9pwkqy41xm] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9pwkqy41xm] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9pwkqy41xm] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9pwkqy41xm] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_NoNavLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-iwlkz4l49i] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-iwlkz4l49i] {
  color: #0077cc;
}

.btn-primary[b-iwlkz4l49i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-iwlkz4l49i], .nav-pills .show > .nav-link[b-iwlkz4l49i] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-iwlkz4l49i] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iwlkz4l49i] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iwlkz4l49i] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iwlkz4l49i] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iwlkz4l49i] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/BioMedDocManager/Views/Shared/_NoNavWithDetailModalLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-xnt3o6mbze] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-xnt3o6mbze] {
  color: #0077cc;
}

.btn-primary[b-xnt3o6mbze] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-xnt3o6mbze], .nav-pills .show > .nav-link[b-xnt3o6mbze] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-xnt3o6mbze] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-xnt3o6mbze] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-xnt3o6mbze] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-xnt3o6mbze] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-xnt3o6mbze] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
