@model BioMedDocManager.Models.Resource
@{
    ViewData["Title"] = "系統資源管理-新增";
    Layout = "_NoNavLayout";
}

<div class="m-4">
    <h4 class="m-3 px-2">
        <i class="bi bi-plus-square me-2"></i>@ViewData["Title"]
    </h4>

    <form asp-action="Create" method="post" id="myForm" target="_top">
        @Html.AntiForgeryToken()

        <div class="pop">


            <div class="row align-items-center my-3">
                <label asp-for="ResourceType" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceType" class="form-control" placeholder="PAGE、API"/>
                    <span asp-validation-for="ResourceType" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceKey" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceKey" class="form-control" />
                    <span asp-validation-for="ResourceKey" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceDisplayName" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <input asp-for="ResourceDisplayName" class="form-control" />
                    <span asp-validation-for="ResourceDisplayName" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <label asp-for="ResourceIsActive" class="col-md-2 col-form-label text-md-end"></label>
                <div class="col-md-10">
                    <div class="form-check">
                        <input asp-for="ResourceIsActive" class="form-check-input" />
                        <label class="form-check-label" asp-for="ResourceIsActive"></label>
                    </div>
                    <span asp-validation-for="ResourceIsActive" class="text-danger"></span>
                </div>
            </div>

            <div class="row align-items-center my-3">
                <div class="col-12 d-flex flex-wrap justify-content-center">
                    <button type="submit" class="btn2 btn-success mt-2 col-6 col-md-3 mx-1">
                        <i class="fas fa-check-circle"></i>&ensp;儲存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@section PageScripts {
    <script nonce="@ViewBag.CspNonce">

    </script>
}
